<html>
  <head>
    <title>
      hoge
    </title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"/>
  </head>
  <body>
    <div id="app">
      <div class="hosts">
        <div v-for="(tenants,host) in deployedHosts">
          <h1>ホスト： {{ host }}</h2>
          <div class="tenants">
            <div v-for="(repositories,tenant) in tenants['tenants']" class="block pb-8">
              <h1>テナント：{{ tenant }}</h2>
              <div v-for="(branch,repository) in repositories['repos']" class="bg-gray-200 border-solid	border-2 border-gray-400 px-4 pb-4">
                <div v-for="(hash,branchName) in branch">
                  <div>リポジトリ名 : {{ repository }}</div>	
                  <div>ブランチ名 : {{ branchName }}</div>	
                  <div>commit hash : {{ hash }}</div>	
                </div>
              </div>
              <form>
              </form>
            </div>
          </div>
      </div>
      </div>
      <select v-model="perTenant">
        <option :value="true">
 	   テナント毎
        </option>
	<option :value="false">
	  全てのテナント
        </option>
        </select>
	<div v-if="perTenant">
            <select v-model="selectedHost">
              <option v-for="(_val,host) in hosts" :value="host">
              {{ host }}
              </option>
            </select>
            <select v-model="selectedTenant" v-if="selectedHost != ''">
              <option v-for="tenant in hosts[selectedHost]['tenants']" :value="tenant">
              {{ tenant }}
              </option>
            </select>
            <select v-model="selectedRepository">
              <option v-for="(repository,repositoryName) in repositories" :value="repositoryName">
              {{ repositoryName }}
              </option>
            </select>
            <select v-model="selectedBranch" v-if="selectedRepository != ''">
              <option v-for="(hashs, branchName) in repositories[selectedRepository]" :value="branchName">
              {{ branchName }}
              </option>
            </select>
            <select v-model="selectedHash" v-if="selectedBranch != ''">
              <option v-for="hash in repositories[selectedRepository][selectedBranch]" :value="hash">
              {{ hash }}
              </option>
            </select>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @click="deployRepository">Deploy new repository</button>
	</div>
	<div v-else>
            <select v-model="selectedRepository">
              <option v-for="(repository,repositoryName) in repositories" :value="repositoryName">
              {{ repositoryName }}
              </option>
            </select>
            <select v-model="selectedBranch" v-if="selectedRepository != ''">
              <option v-for="(hashs, branchName) in repositories[selectedRepository]" :value="branchName">
              {{ branchName }}
              </option>
            </select>
            <select v-model="selectedHash" v-if="selectedBranch != ''">
              <option v-for="hash in repositories[selectedRepository][selectedBranch]" :value="hash">
              {{ hash }}
              </option>
            </select>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @click="deployRepositoryToAllTenants">全てのテナントにデプロイ</button>	
	</div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        hosts: [],
        deployedHosts: [],
        repositories: [],
        selectedHost: '',
        selectedTenant: '',
        selectedRepository: '',
        selectedBranch: '',
        selectedHash: '',
	perTenant: true
      },
      created(){
        this.fetchDeployInfo();
        this.fetchBuildInfo();
        this.fetchHosts();
      },
      methods: {
        fetchDeployInfo(){
          fetch('/deploy_info').then(res => {
            return res.json()
          }).then(res => {
            this.deployedHosts = res['hosts'];
          })
        },
        fetchHosts(){
          fetch('/hosts').then(res => {
            return res.json()
          }).then(res => {
            this.hosts = res
          })
        },
        fetchBranches(repository){
          fetch('/repositories/' + repository).then(res => {
            return res.json()
          }).then(res => {
            console.log(res)
            this.branches = res
          })
        },
        fetchBuildInfo(){
          fetch('/build_info').then(res => {
            return res.json()
          }).then(res => {
            console.log(res)
            this.repositories = res
          })
        },
        deployRepository(){
          const method = "POST";
          const headers = {};
          const body = new FormData();
          body.append('host', this.selectedHost);
          body.append('tenant', this.selectedTenant);
          body.append('repository', this.selectedRepository);
          body.append('branch', this.selectedBranch);
          body.append('hash', this.selectedHash);
          fetch("/publish",{method,headers,body}).then(res => this.fetchDeployInfo())
        },
	async deployRepositoryToAllTenants(){
          const method = "POST";
          const headers = {};
	  const hosts = Object.keys(this.hosts);
	  for(let i = 0; i < hosts.length; i++ ){
	    const body = new FormData();
	   const host = hosts[i];
	    body.append('host', host);
	    body.append('tenant', this.hosts[host]['tenants'][0]);
	    body.append('repository', this.selectedRepository);
	    body.append('branch', this.selectedBranch);
	    body.append('hash', this.selectedHash);
       	    await fetch("/publish",{method,headers,body})
	}
	}
      }
    })
  </script>
</html>
